{% extends 'base.html.twig' %}

{% block title %}Liste des jeux - {{ parent() }}{% endblock %}

{% block body %}
<div class="card">
    <div class = "card-body">
        <a class ="btn btn-success" href = "{{ path('app_game_new')}}"> Ajouter un jeu </a>
    </div>
    {# table.table>(thead>tr>th*3)+tbody #}
    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Date</th>
                <th>Categorie</th>
                <th>Support</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for entity in entities %}
            <tr>
                <td><a href="{{ path ('app_game_show', {'id' : entity.id }) }}"></a>{{ entity.name }}</td>
                <td>
                {% if entity.releaseDate is not empty %}
                {{ entity.releaseDate|date('d/m/Y') }}
                {% else %}
                -
                {% endif %}
                </td>
                
                <td>{% if ((entity.category) is not empty) %}
                    {{ entity.category.name }}
                {% endif %}</td>
                <td> {% for support in entity.getSupport() %} 
                {{ support }} 
                {% endfor %}
                </td>
                <td>
                <a href="{{ path('app_game_edit', {'id':entity.id})}}" class="btn btn-light">Modifier</a>
                <a href="{{ path('app_game_delete', {'id':entity.id})}}" class="btn btn-danger me-1">Supprimer</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
