{% extends 'base.html.twig' %}

{% block title %}Liste des jeux - {{ parent() }}{% endblock %}

{% block body %}
<div class="card">
    <div class = "card-header">
        <a class ="btn btn-success" href = "{{ path('app_game_new')}}"> Ajouter un jeu </a>
    </div>
    <div class="card-body">
        <form action="" method="get" class="d-flex">
            <select name="published" class="form-control mx-1">
                <option value="ALL">Tous</option>
                <option value="1" {% if app.request.get('published')=='1' %} selected{% endif %}>Publiés</option>
                <option value="0"{% if app.request.get('published')=='0' %} selected{% endif %}>Non publiés</option>
            </select>
            
            <input type="search" name="search" class="form-control mx-1" placeholder="Rechercher..." value="{{ app.request.get('search') }}">

            <select name="category"  class="form-control mx-1">
                <option value="ALL">Toutes les catégories</option>
                {% for category in categories %}
                <option value="{{ category.id }}" {% if app.request.get('category') == category.id %}selected{% endif %}>{{category.name}}</option>
                {% endfor %}
            </select>
            <button type ="submit" class="btn btn-primary mx-1">Filtrer</button>
        </form>
    </div>
    {# table.table>(thead>tr>th*3)+tbody #}
    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Date</th>
                <th>Categorie</th>
                <th>Consoles</th>
                <th>Crée par</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for entity in entities %}
            <tr class = "{% if not entity.published %} table-danger {% endif %}">
                <td><a href="{{ path ('app_game_show', {'id' : entity.id }) }}">{{ entity.name }}</a></td>
                <td>
                    {% if entity.releaseDate is not empty %}
                    {{ entity.releaseDate|date('d/m/Y') }}
                    {% else %}  
                    -
                    {% endif %} 
                </td><td>
                    {% if ((entity.category) is not empty) %}
                    {{ entity.category.name }}
                    {% endif %}
                </td><td> 
                    {% for support in entity.getSupport() %} 
                    <span class="badge bg-info"> {{ support }} </span>
                    {% endfor %}
                </td>
                <td>
                    {% if entity.author is not empty %}
                    {{ entity.author.username }}
                    {% endif %}
                </td>
                <td>
                <a href="{{ path('app_game_edit', {'id':entity.id})}}" class="btn btn-light">Modifier</a>
                <a href="{{ path('app_game_delete', {'id':entity.id})}}" class="btn btn-danger me-1">Supprimer</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
